@model ControleCustos.Models.ListaProjetosModel
@using ControleCustos.Models
@using ControleCustos.Servicos
@using ControleCustos.Dominio.Enum
@{var permissaoUsuario = ServicoDeAutenticacao.UsuarioLogado.Permissao; }


<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>

            <tr>
                <th class="text-center col-sm-1">Saúde</th>
                <th class="text-left col-md-3">Nome</th>
                <th class="text-left col-md-2">Cliente</th>
                <th class="text-left col-md-2">Data de Início</th>
                <th class="text-left col-md-2">Data Final Prevista</th>
                @if (permissaoUsuario == Permissao.Administrador)
                {
                    <th class="text-left col-md-3">Gerente</th>
                    <th class="col-md-1"></th>
                }
                @if (permissaoUsuario == Permissao.Gerente)
                {
                    <th class="col-md-1"></th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                foreach (ProjetoDetalheModel projeto in Model.Projetos)
                {
                    <tr>
                        <td class="text-center">
                            @if (projeto.Saude >= Model.LimiteSaudeRegularCritica)
                            {
                                <span title="Saúde do projeto: @String.Format("{0:P2}.", projeto.Saude/100)" class="saude-critica-small">&#9760;</span>
                            }
                            else if (projeto.Saude < Model.LimiteSaudeRegularCritica && projeto.Saude >= Model.LimiteSaudeBoaRegular)
                            {
                                <div title="Saúde do projeto: @String.Format("{0:P2}.", projeto.Saude/100)" class="saude-perigo-small">&#9888;</div>
                            }
                            else
                            {
                                <div title="Saúde do projeto: @String.Format("{0:P2}.", projeto.Saude/100)" class="saude-boa-small">&#9786;</div>
                            }
                        </td>
                        <td class="text-left">
                            @projeto.Nome
                        </td>
                        <td class="text-left">
                            @projeto.Cliente
                        </td>
                        <td class="text-left">
                            @projeto.DataInicio.ToString("dd/MM/yyyy")
                        </td>
                        <td class="text-left">
                            @projeto.DataFinalPrevista.ToString("dd/MM/yyyy")
                        </td>
                        @if (permissaoUsuario == Permissao.Administrador)
                        {
                            <td class="text-left">
                                @projeto.Gerente.Nome
                            </td>
                            <td class="text-center">
                                <a class="btn btn-link btn-xs" href="~/Projeto/Detalhe/?id=@projeto.Id"
                                   title="Detalhes" rel="tooltip" data-placement="top">
                                    <span class="glyphicon glyphicon-zoom-in"></span>
                                </a>
                            </td>
                        }
                        @if (permissaoUsuario == Permissao.Gerente)
                        {
                            <td class="text-center">
                                <a class="btn btn-link btn-xs" href="~/Projeto/Editar/?id=@projeto.Id"
                                   title="Editar" rel="tooltip" data-placement="top">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="btn btn-link btn-xs" href="~/Projeto/Detalhe/?id=@projeto.Id"
                                   title="Detalhes" rel="tooltip" data-placement="top">
                                    <span class="glyphicon glyphicon-zoom-in"></span>
                                </a>
                                <a class="btn btn-link btn-xs" href="~/Projeto/Recurso/?idProjeto=@projeto.Id"
                                   title="Adicionar recursos" rel="tooltip" data-placement="top">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
