@model ControleCustos.Models.ProjetoModel
@{
    string titulo = Model == null ? "Cadastro de Projeto" : "Edição de Projeto";
    ViewBag.Title = titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Vereyon.Web;

<div class="jumbotron">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <h1 class="panel-title projetos-title-panel">@titulo</h1>
                <a class="btn btn-link projetos-link-panel"
                   href="/Projeto/ListaProjetos">Lista de Projetos</a>
                <h1 class="panel-title"></h1>
            </div>
        </div>
        <div class="panel-body">
            @Html.RenderFlashMessages()
            @using (Ajax.BeginForm("Salvar", "Projeto", new AjaxOptions { HttpMethod = "Post" }, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Cliente, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Cliente, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Cliente, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Tecnologia, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Tecnologia, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Tecnologia, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataInicio, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.DataInicio, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataFinalPrevista, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.DataFinalPrevista, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.DataFinalPrevista, "", new { @class = "text-danger" })
                </div>
                if (Model != null)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataFinalRealizada, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.DataFinalRealizada, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DataFinalRealizada, "", new { @class = "text-danger" })
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.FaturamentoPrevisto, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.FaturamentoPrevisto, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.FaturamentoPrevisto, "", new { @class = "text-danger" })
                </div>
                if (Model != null)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.FaturamentoRealizado, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.FaturamentoRealizado, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.FaturamentoRealizado, "", new { @class = "text-danger" })
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroProfissionais, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.NumeroProfissionais, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.NumeroProfissionais, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Situacao, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-2">
                        @Html.EnumDropDownListFor(model => model.Situacao, "Selecione...", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Cadastrar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>