@model ControleCustos.Models.ProjetoModel
@{
    ViewBag.Title = "Cadastro de Projeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <h1 class="panel-title projetos-title-panel">Cadastro de Projeto</h1>
                <a class="btn btn-link projetos-link-panel"
                   href="/projetos">Pesquisa de Projetos</a>
                <h1 class="panel-title"></h1>
            </div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Cadastrar", "Projeto", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Cliente, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Cliente, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Cliente)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Tecnologia, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Tecnologia, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Tecnologia)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataInicio, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.DataInicio, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.DataInicio)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataFinalPrevista, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.DataFinalPrevista, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.DataFinalPrevista)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FaturamentoPrevisto, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.FaturamentoPrevisto, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.FaturamentoPrevisto)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroProfissionais, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.NumeroProfissionais, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.NumeroProfissionais)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Situacao, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-2">
                        @Html.EnumDropDownListFor(model => model.Situacao, "Selecione...", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Cadastrar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>