@model ControleCustos.Models.ProjetoDetalheModel
@using ControleCustos.Infraestrutura
@{
    string titulo = "Detalhe";
    ViewBag.Title = titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <h1 class="panel-title projetos-title-panel">@titulo</h1>
                <a class="btn btn-link projetos-link-panel"
                   href="/Projeto/ListaProjetos">Lista de Projetos</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="clearfix">
                <div class="row">
                    <span id="id-projeto" data-id-projeto="@Model.Id"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-md-10">
                        <h3 class="nome-projeto"><strong>@Model.Nome</strong></h3>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        @if (Model.Saude >= Model.LimiteSaudeRegularCritica)
                        {
                            <div title="Saúde do projeto: @String.Format("{0:P2}.", @Model.Saude/100)" class="text-center saude-critica span1">&#9760;</div>
                        }
                        else if (Model.Saude < Model.LimiteSaudeRegularCritica && Model.Saude >= Model.LimiteSaudeBoaRegular)
                        {
                            <div title="Saúde do projeto: @String.Format("{0:P2}.", @Model.Saude/100)" class="text-center saude-perigo span3">&#9888;</div>
                        }
                        else
                        {
                            <div title="Saúde do projeto: @String.Format("{0:P2}.", @Model.Saude/100)" class="text-center saude-boa span1">&#9786;</div>
                        }
                        <div class="text-center"><strong>Saúde: @String.Format("{0:P2}", @Model.Saude / 100)</strong></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Gerente:</strong> @Model.Gerente.Nome</li>
                            <li><strong>Cliente:</strong> @Model.Cliente</li>
                            <li><strong>Principal tecnologia:</strong> @Model.Tecnologia</li>
                            <li><strong>Situação:</strong> @Model.Situacao.ToString()</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Data início:</strong> @Model.DataInicio.ToString("dd/MM/yyyy")</li>
                            <li><strong>Data final prevista:</strong> @Model.DataFinalPrevista.ToString("dd/MM/yyyy")</li>
                            <li><strong>Faturamento previsto:</strong> R$ @String.Format("{0:#,##0.00}", Model.FaturamentoPrevisto)</li>
                            <li><strong>Numero profissionais:</strong> @Model.NumeroProfissionais</li>
                        </ul>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <h4 class="nome-projeto">Custos do projeto até sua data final:</h4>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.TotalPatrimonio)
                        @Html.Label(String.Format("R$ {0:0.00}", Model.TotalPatrimonio))
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.TotalCompartilhado)
                        @Html.Label(String.Format("R$ {0:0.00}", Model.TotalCompartilhado))
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.TotalServico)
                        @Html.Label(String.Format("R$ {0:0.00}", Model.TotalServico))
                    </div>
                    <div class="col-md-3">
                        <strong>Total: </strong>
                        @Html.Label(String.Format("R$ {0:0.00}", (Model.TotalPatrimonio + Model.TotalServico + Model.TotalCompartilhado)))
                    </div>
                </div>
                <hr />

                <form method="GET" class="form-horizontal">
                    <div class="form-group">
                        <select class="form-control" id="select-tipo">
                            <option value="todos" selected>Todos os recursos</option>
                            <option value="patrimonio">Patrimônios</option>
                            <option value="compartilhado">Compartilhados</option>
                            <option value="servico">Serviços</option>
                        </select>
                    </div>
                </form>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <div id="projeto-recursos-lista" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/projeto-recursos-lista")
}
