@model ControleCustos.Models.ProjetoModel
@{
    string titulo = "Detalhe";
    ViewBag.Title = titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <h1 class="panel-title projetos-title-panel">@titulo</h1>
                <h1 class="panel-title"></h1>
            </div>
        </div>
        <div class="panel-body">
            <div class="clearfix">
                <div class="row">
                    <span id="id-projeto" data-id-projeto="@Model.Id"></span>
                    <h3 class="col-xs-offset-1"><strong>@Model.Nome</strong></h3>
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Gerente:</strong> @Model.Gerente.Nome</li>
                            <li><strong>Cliente:</strong> @Model.Cliente</li>
                            <li><strong>Principal tecnologia:</strong> @Model.Tecnologia</li>
                            <li><strong>Situação:</strong> @Model.Situacao.ToString()</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><strong>Data início:</strong> @Model.DataInicio.ToString("dd/MM/yyyy")</li>
                            <li><strong>Data final prevista:</strong> @Model.DataFinalPrevista.ToString("dd/MM/yyyy")</li>
                            <li><strong>Faturamento previsto:</strong> R$ @String.Format("{0:#,##0.00}", Model.FaturamentoPrevisto)</li>
                            <li><strong>Numero profissionais:</strong> @Model.NumeroProfissionais</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Total Patrimônio: R$ 1899,00
                    </div>
                    <div class="col-md-4">
                        Total Compartilhado: R$ 6980,00
                    </div>
                    <div class="col-md-4">
                        Total Serviço: R$ 1350,00
                    </div>
                </div>
                <hr />
                <form method="GET" class="form-horizontal col-xs-offset-1">
                    <div class="form-group">
                        <select class="form-control" id="select-tipo">
                            <option value="todos" selected>Todos os recursos</option>
                            <option value="patrimonio">Patrimônios</option>
                            <option value="compartilhado">Compartilhados</option>
                            <option value="servico">Serviços</option>
                        </select>
                    </div>
                </form>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <div id="projeto-recursos-lista" />
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/projeto-recursos-lista")
}
