@using ControleCustos.Servicos
@using ControleCustos.Dominio.Enum
@{var usuarioLogado = ServicoDeAutenticacao.UsuarioLogado.Email; }
@{var permissaoUsuario = ServicoDeAutenticacao.UsuarioLogado.Permissao; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Projeto/ListaProjetos">
                    <img alt="CWI" src="~/Content/logo-horizontal-claro.png" class="img-logo" />
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Projetos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (permissaoUsuario == Permissao.Gerente)
                            {
                                <li>@Html.ActionLink("Cadastro de Projeto", "Cadastro", "Projeto")</li>
                            }
                            <li>@Html.ActionLink("Lista de Projetos", "ListaProjetos", "Projeto")</li>
                        </ul>
                    </li>
                    @if (permissaoUsuario == Permissao.Administrador)
                    {
                        <li>@Html.ActionLink("Relatórios", "Index", "Relatorio")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">@usuarioLogado</p></li>
                    <li>@Html.ActionLink("Sair", "Logout", "Acesso")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Projeto Crescer</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/listagemRecursos")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>